[*]
end_of_line = lf
insert_final_newline = true

[src/**.ts]
indent_style = space
indent_size = 4

[src/style/**.less]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2
