<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <h1>TODOs</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading clearfix"><a ng-click="vm.openModal(newTodo)" class="pull-right"
                    ><i class="fa fa-plus"></i></a>
                <h1 class="panel-title">Todo List</h1>
            </div>

            <ul class="list-group">
                <li ng-repeat="todo in todos track by $index" class="list-group-item"
                        ><a ng-click="vm.openModal(todo)" class="pull-right"><i class="fa fa-edit"></i></a
                        ><a ng-click="vm.toggleCompleted(todo)"><i ng-class="{
                                                                fa: true, 'fa-lg': true,
                                                                'fa-check-circle-o': todo.isComplete,
                                                                'fa-circle-o': !todo.isComplete }"></i></a>
                        <span ng-class="{ strikethru: todo.isComplete }">{{todo.title}}</span>
                </li>
            </ul>

            <div class="panel-footer clearfix"><span class="pull-left"><strong>{{remainingCount}} </strong>
                <ng-pluralize count="remainingCount" when="{
                        one: 'item left', other: 'items left'
                    }"></ng-pluralize></span>

                <button ng-click="vm.clearCompleted()" ng-show="remainingCount < todos.length"
                        class="btn btn-default btn-xs pull-right"
                        >Clear completed ({{todos.length - remainingCount}})</button>

                <button ng-click="vm.markAllCompleted()" ng-show="remainingCount > 0"
                        class="btn btn-default btn-xs pull-right"
                        >Mark all completed</button>
            </div>
        </div>
    </div>
</div>

